/* .size{
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    font-size: .8em;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    color: #1b1a20;
    background-color: #ececec;
    border: 1px solid transparent;
}
label{
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 35px;
    height: 35px;
    font-size: .8em;
    margin-bottom: 8px;
    margin-right: 8px;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
}
input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
} */